.dashCnt-header-cnt{
    display: flex;
    flex-direction: row;
    padding-left: 0.4%;
    padding-bottom: 0.8%;
    padding-top: 0.4%;
    padding-right: 0.4%;
    border: 1px solid black;
    height: 10%;
    align-items: center;
}

.DashCnt-bar3-cnt{
    width: 2%;
    margin-left: 2%;
    margin-top: 0.5%;
    cursor: pointer;
    border: 9px solid transparent;
    &:hover{
        border-radius: 50%;
        background-color: rgb(234, 232, 232);
    }
}

.DashCnt-keepIcon-cnt{
    width: 2.8%;
    height: 70%;
    margin-left: 1.5%;
    margin-top: 0.6%;
}

.dashCnt-headerlabel-cnt{
    font-size: 20px;
    margin-left: 1%;
    margin-top: 0.2%;
    margin-right: 10%;
}


.dashCnt-search-cnt{
    width: 33%;
    padding-left: 3.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border-color: white;
    border-top: 0px;
    border-left: 0px;
    font-size: 17px;
    margin-top: 0.5%;
    background-color: rgb(244, 243, 243);
    &:focus-within{
        background-color: white;
        box-shadow: 3px 3px 6px 2px rgba(255, 255, 255, 0.5);
        outline: 0px;
    }
}

.dashCnt-searchIcon-cnt{
    width: 4%;
    opacity: 0.5;
    color: gray;
    margin-right: -3.1%;
    margin-top: 0.6%;
    border: 5px solid transparent;
    &:hover{
        background-color: rgb(220, 217, 217);
        border-radius: 50%;
    }
}


[name='item']{
    margin-left: 20%;    
}


[name=listItem]{
    border: 4px solid transparent;
    &:hover{
        border-top-right-radius: 15%;
        border-bottom-right-radius: 15%;
        background-color: rgb(244, 240, 240);
    }    
}

#dashCnt-notes-cnt{
    background-color: rgb(254, 222, 182);
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}


#dashbd-bulb-ct{
    height: 20px;
    width: 20px;
    border: 4px solid transparent;
    &:hover{
        border-radius: 50%;
        background-color: orange;
    }
}

.dashbd-nav-cnt{
    display: flex;
    flex-direction: column;
    width: 7.5%;
    align-items: center;
    gap: 25px;
    // margin-top: 1.5%;
    padding-top: 20px;
    position: relative;
    // padding-right: 10%;
    height: 100vh;
    // margin-left: 2.5%;
}

.dashbd-nts-ct{
    border: 8px solid transparent;
    border-radius: 50%;
    opacity: 0.7;
    &:hover{

        background-color: gray;
    }
}


.dashbd-outlet-cnt{
    margin-left: 100px;
}

.dashbd-subNotes-ct{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#dashbd-bulbnav-cnt{
    &:hover{
        background-color: rgb(243, 175, 66);
    }
}


@media (min-width:350px) and (max-width:600px){
 .DashCnt-bar3-cnt{
    margin-left: 0px;
 }   

 .dashCnt-headerlabel-cnt{
    font-size: 15px;
 }

 .DashCnt-keepIcon-cnt{
    width: 6%;
 }
}